h1 {
  color:#ce0808;
  font-size:60px;
}
p {
  color:#63ffd2;
  font-size:60px;
}
#gorilla{
  font-size:60px;
  color:#63ffd2;
}
body {
  background: url("gorillawall.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
